.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.logo {
    font-weight: 400;
    font-size: 80px;
    height: 79px;
    margin-top: 63px;
    margin-bottom: 48px;
   }
.href {
    text-decoration: none;
    color: black;
    }
.colored {
    color: #4BC3F2;
}
.header-menu {
    background: #35444F;
    margin-bottom: 48px;
    }
.header-menu .menu {
    display: flex;
    justify-content: center;
}
.header-menu .menu .menu-list {
    display: flex;
    list-style-type: none; 
}
.header-menu .menu .menu-list .menu-item {
    background: #35444F;
    border-left: 1px solid white;
    padding: 26px 33px 19px;
}
.header-menu .menu .menu-list .menu-item:last-child {
    border-right: 1px solid white;
}
.header-menu .menu .menu-list .menu-item .menu-link {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-decoration: none;
}
.header-menu .menu .menu-list .menu-item:hover{
    background-color: #222F3A;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1280px;
    max-width: 100%;
   }
.aside {
    display: flex;
    flex-direction: column;
}
.main-list {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    border: 1px solid #35444F;
    width: 344px;
    height: 400px;
    align-items: left;
    vertical-align: center;
    
}
.main-item {
    padding-left: 27px;
    font-family: Roboto;
    font-size: 27px;
    padding-top: 14px;
    padding-bottom: 14px;
        
}
.main-link {
    text-decoration: none;
    color: #485863;
}
.main-item:hover{
    background-color: #DBDBDB;
}

.main .image {
    display: flex; 
    align-items: flex-end;
    width: 320px;
    height: 380px;
    border: 1px solid #485863;
    padding: 75px 298px 75px  268px;
    margin-left: 30px;
    margin-right: 0auto;
}
.main .image:hover img {
transform: scale(1.1);
}
.main .content .text {
    align-self: flex-end;
    width: 888px;
    padding-left: 392px;
}
.text:first-child{
    margin-top: 20px;
}
.text:last-child {
    margin-top: 20px;
    margin-bottom: 54px;
}
.footer-menu {
    background:#63696E7A;
    margin-bottom: 30px;    
}
.footer-menu .menu .footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 40px;
   
}
.footer-menu .menu .footer-list{
    width: 1280px;
    height: 70px;
    font-family: Robotto;
    font-size: 28px;
    
}
.footer-menu .menu .footer-list .footer-link {
    text-decoration: none;
    color: black;
    width: 1280px;
    padding-bottom: 22px;
}
.footer-menu .menu .footer-list .footer-item:last-child {
    font-family: Robotto;
    font-size: 24px;
    padding-left: 136px;
    padding-right: 40px;
}
.footer-menu .menu .footer-list .footer-link:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    color: #1a9acc;
}